<% if Current.user %>
  <li class="nav-item">
    <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-outline-secondary" %>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to "Sign Up", sign_up_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Login", sign_in_path, class: "nav-link" %>
  </li>
<% end %>

<% if Current.user %>
  Logged in as <%= Current.user.username %>
<% end %>

<h1>Polls</h1>

<ul>
  <% @polls.each do |poll| %>
    <li>
      <%= link_to poll.title, poll %>
    </li>
  <% end %>
</ul>

<%= link_to "New Poll", new_poll_path %>