<h1><%= @poll.title %></h1>

<h1><%= @poll.start_time %></h1>

<h1><%= @poll.end_time %></h1>

<ul>
  <li><%= link_to "Edit", edit_poll_path(@poll) %></li>
  <li><%= link_to "Destroy", poll_path(@poll), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
</ul>