<div>
  <h2><%= @poll.title %></h2>

  <div id="result">
    <% @poll.candidates.each do |candidate| %>
      <%= form_for(@new_vote) do |form| %>
        <%= form.hidden_field :candidate_id, value: candidate.id %>
        <%= button_tag(candidate.title_with_count, type: "submit", id: dom_id(candidate, "title_with_count")) %>
      <% end %>
    <% end %>

    <p>
      Winner is:
      <strong id="final-result">
        <%= @final_result.map(&:title).join(", ") %>
      </strong>
    </p>
  </div>

  <ul>
    <li><%= link_to "Edit", edit_poll_path(@poll) %></li>
    <li><%= link_to "Destroy", poll_path(@poll), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %></li>
  </ul>
</div>
