<div data-controller="results">
  <h2><%= @poll.title %></h2>

  <% @poll.candidates.each do |candidate| %>
    <%= form_for(@new_vote, data: { results_target: "pollForm" }) do |form| %>
      <%= form.hidden_field :candidate_id, value: candidate.id %>
      <%= button_tag(candidate.title_with_count, type: "submit", data: { action: "click->results#updateFinalResult", results_target: "candidateButton", candidate_id: candidate.id})%>
    <% end %>
  <% end %>

  <div>
    <p>
      Winner is:
      <strong data-results-target="finalResult">
        <%= @final_result.map(&:title).join(", ") %>
      </strong>
    </p>
  </div>

  <ul>
    <li><%= link_to "Edit", edit_poll_path(@poll) %></li>
    <li><%= link_to "Destroy", poll_path(@poll), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %></li>
  </ul>
</div>
